# Practice

Lists:
Question - Appending and Removing Elements: Create an empty list called my_list. Append
the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [1]:
my_list = []
my_list.append(1)
my_list.append(2)
my_list.append(3)
my_list.remove(2)
print(my_list)

[1, 3]

Question- Accessing Elements: Create a list called fruits containing the strings "apple",
"banana", "cherry", "date". Print the second element of the list.

In [2]:
fruits = ["apple", "banana", "cherry", "date"]
print(fruits[1])

banana

Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a
slice of the list containing elements from the third element to the sixth element.

In [3]:
numbers = list(range(1, 11))
print(numbers[2:6])

[3, 4, 5, 6]

Sets
Question - Adding and Removing Elements: Create an empty set called my_set. Add the
numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [4]:
my_set = set()
my_set.update([1, 2, 3])
my_set.remove(2)
print(my_set)

{1, 3}

Question - Operations: Create two sets called set1 and set2, each containing a few
numbers. Print the union, intersection, and difference of the two sets.

In [5]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6}
set()
{1, 2, 3}

Tuples
Question - Accessing Elements: Create a tuple called coordinates containing the latitude
and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude
and longitude separately.

In [6]:
coordinates = (40.7128, -74.0060)

print("latitude:", coordinates[0])
print("longitude:", coordinates[1])

latitude: 40.7128
longitude: -74.006

Question - Packing and Unpacking: Create a tuple called person containing information
about a person, such as their name, age, and city. Then unpack the tuple into individual
variables.

In [7]:
person = ("Eustaquio", 40, "Villanueva de las Macarenas")
name, age, city = person
print("Name:",name)
print("Age:",age)
print("City:",city)

Name: Eustaquio
Age: 40
City: Villanueva de las Macarenas